<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-2 col-sm-4 col-md-6">

    <h1>Listing Positions</h1>

    <div class="media">
      <div class="media-body">
        <table class="table table-hover table-condensed table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th><h3>Name</h3></th>
            <th colspan="2"></th>
          </tr>
          </thead>

          <tbody>
          <% @positions.each do |position| %>
              <tr>
                <td><%= position.name %></td>
                <% if current_user.try(:vip?) or current_user.try(:admin?) %>
                    <td><%= link_to 'Edit', edit_position_path(position), :class => "btn btn-xs btn-success" %></td>
                    <td><%= link_to 'x', position, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-xs btn-danger" %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <% if current_user.try(:vip?) or current_user.try(:admin?) %>
        <%= link_to 'New Position', new_position_path, :class => "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</div>
