<%= simple_form_for(@reminder) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :residents %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
