<p id="notice"><%= notice %></p>

<h1>Listing Acc Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acc_types.each do |acc_type| %>
      <tr>
        <td><%= acc_type.name %></td>
        <td><%= link_to 'Show', acc_type %></td>
        <td><%= link_to 'Edit', edit_acc_type_path(acc_type) %></td>
        <td><%= link_to 'Destroy', acc_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acc type', new_acc_type_path %>
