<p id="notice"><%= notice %></p>

<h1>Listing Vreceipts</h1>

<table>
  <thead>
    <tr>
      <th>Rdate</th>
      <th>Reference</th>
      <th>Finto</th>
      <th>Details</th>
      <th>Village</th>
      <th>Pay type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vreceipts.each do |vreceipt| %>
      <tr>
        <td><%= vreceipt.rdate %></td>
        <td><%= vreceipt.reference %></td>
        <td><%= vreceipt.finto %></td>
        <td><%= vreceipt.details %></td>
        <td><%= vreceipt.village %></td>
        <td><%= vreceipt.pay_type %></td>
        <td><%= link_to 'Show', vreceipt %></td>
        <td><%= link_to 'Edit', edit_vreceipt_path(vreceipt) %></td>
        <td><%= link_to 'Destroy', vreceipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vreceipt', new_vreceipt_path %>
