<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">

    <p id="notice">
      <%= notice %>
    </p>

    <h1>Listing Individuals</h1>

    <p>
      <% link_to "All", individuals_path, :class => "btn btn-small btn-success" %>
      <%= link_to "Financial", financial_individuals_path, :class => "btn btn-small btn-success" %>
      <%= link_to "Not-Financial", notfinancial_individuals_path, :class => "btn btn-small btn-success" %>
      <%= link_to "Cancelled", cancelled_individuals_path, :class => "btn btn-small btn-success" %>
      <%= link_to 'New Individual', new_individual_path, :class => "btn btn-small btn-primary" %>
    </p>

      <%= form_tag individuals_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
          <%= link_to 'x', individuals_path, :class => "btn btn-xs btn-success" %>
          Note: lower case and single words only!  
        </p>
      <% end %>

    <div class="media">
      <div class="media-body">
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Suburb</th>
            <th>Village</th>
            <th>Status</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @individuals.each do |individual| %>
              <tr>
                <td>
                  <%= link_to (individual.title.name + " " + individual.first + " " + individual.last), individual %>
                </td>
                <td>
                  <%= individual.address1 %>
                </td>
                <td>
                  <%= individual.suburb %>
                </td>
                <td>
                  <%= individual.ivillage.name %>
                </td>
                <td>
                  <%= individual.status.name %>
                </td>
                <% if current_user.try(:vip?) or current_user.try(:admin?) %>
                    <td><%= link_to 'Edit', edit_individual_path(individual), :class => "btn btn-xs btn-success" %>
                    </td>
                <% end %>
                <% if current_user.try(:admin?) %>
                    <td>
                      <%= link_to 'X', individual, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-xs btn-danger" %>
                    </td>
                <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% if current_user.try(:vip?) or current_user.try(:admin?) %>
        <%= link_to 'New Individual', new_individual_path, :class => "btn btn-sm btn-primary" %>
    <% end %>
    <hr>

  </div>
</div>