<p id="notice"><%= notice %></p>

<h1>Application Settings</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Village Rate</th>
        <th>Individual Rate</th>
        <th>Last Inv#</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @app_settings.each do |app_setting| %>
          <tr>
            <td><%= app_setting.Vrate %></td>
            <td><%= app_setting.Irate %></td>
            <td><%= app_setting.LastInvNum %></td>
            <td><%= link_to 'Edit', edit_app_setting_path(app_setting) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

