<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-8">
    <p id="notice"><%= notice %></p>

    <h1>Listing Acc Bank Accounts</h1>

    <div class="media">
      <div class="media-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Opening</th>
            <th>Outgoing</th>
            <th>Incoming</th>
            <th>Balance</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @acc_bank_accounts.each do |acc_bank_account| %>
              <tr>
                <td><%= acc_bank_account.name %></td>
                <td><%= acc_bank_account.opening %></td>
                <td><%= acc_bank_account.outgoing %></td>
                <td><%= acc_bank_account.incoming %></td>
                <td><%= acc_bank_account.balance %></td>
                <td><%= link_to 'Show', acc_bank_account %></td>
                <td><%= link_to 'Edit', edit_acc_bank_account_path(acc_bank_account) %></td>
                <td><%= link_to 'Destroy', acc_bank_account, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <br>

    <%= link_to 'New Acc bank account', new_acc_bank_account_path %>
  </div>
</div>
