<p id="notice"><%= notice %></p>

<h1>Listing Titles</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @titles.each do |title| %>
          <tr>
            <td><%= title.name %></td>
            <% if current_user.try(:vip?) or current_user.try(:admin?) %>
                <td><%= link_to 'Edit', edit_title_path(title) %></td>
                <td><%= link_to 'Destroy', title, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if current_user.try(:vip?) or current_user.try(:admin?) %>
<%= link_to 'New Title', new_title_path %>
<% end %>
<hr>
