<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-12">

    <%= simple_form_for(@resident) do |f| %>
    <%= f.error_notification %>

  <div class="row">
    <div class="form-inputs col-xs-8">
      <%= f.association :village, collection: Village.order(:name) %>
    </div>
  </div>


  <div class="row">
          <div class="form-inputs col-xs-6">
            <%= f.input :surname %>
          </div>
          <div class="form-inputs col-xs-6">
            <%= f.input :first %>
          </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-6">
        <%= f.input :email %>
      </div>
    
      <div class="form-inputs col-xs-6">
        <%= f.input :phone %>
      </div>
    </div>

    <div class="row">
      
    </div>

    <div class="row">
      <div class="form-inputs col-xs-6">
        <%= f.input :address, label: "Street" %>
      </div>
      <div class="form-inputs col-xs-6">
          <%= f.input :suburb %>
        </div>
    </div>

    <div class="row">
        <div class="form-inputs col-xs-6">
          <%= f.input :postcode %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-4">
      <%= f.input :datereceived, label: "Date Received", as: :date, html5: true %>
      </div>
      <div class="form-inputs col-xs-4">
      <%= f.input :dateaccepted, label: "Date Accepted", as: :date, html5: true %>
      </div>
      <div class="form-inputs col-xs-4">
        <%= f.input :dateceased, label: "Date Ceased", as: :date, html5: true %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-12">
      <%= f.input :comment, label: "Date Ceased Comment" %>
      </div>
    </div>

    <div class="row">
      <div class="form-inputs col-xs-12">
        <%= f.input :notes, as: :text, label: 'Ad-hoc Notes', :input_html => { :cols => 10, :rows => 6, :style => 'width: 500px' } %>
      </div>
    </div>

    <% if current_user.try(:vip?) or current_user.try(:admin?) %>
      <div class="row">
            <div class="form-inputs col-xs-6">
              <div class="form-actions">
                <%= submit_tag "Save", :class => "btn btn-small btn-success" %>
              </div>
            </div>
      </div>
    <% end %>
    
  <% end %>
<br>
  <%= link_to 'Back', residents_path, :class => "btn btn-small btn-info" %>
 
  </div>
</div>

<% end %>
